<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>fabflix</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>mvcdemo.controllers.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchController</display-name>
    <servlet-name>SearchController</servlet-name>
    <servlet-class>mvcdemo.controllers.SearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchController</servlet-name>
    <url-pattern>/SearchController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenreController</display-name>
    <servlet-name>GenreController</servlet-name>
    <servlet-class>mvcdemo.controllers.GenreController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenreController</servlet-name>
    <url-pattern>/GenreController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TitleController</display-name>
    <servlet-name>TitleController</servlet-name>
    <servlet-class>mvcdemo.controllers.TitleController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TitleController</servlet-name>
    <url-pattern>/TitleController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SingleMoviePageController</display-name>
    <servlet-name>SingleMoviePageController</servlet-name>
    <servlet-class>mvcdemo.controllers.SingleMoviePageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SingleMoviePageController</servlet-name>
    <url-pattern>/SingleMoviePageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StarsListController</display-name>
    <servlet-name>StarsListController</servlet-name>
    <servlet-class>mvcdemo.controllers.StarsListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StarsListController</servlet-name>
    <url-pattern>/StarsListController</url-pattern>
  </servlet-mapping>
</web-app>
